<!DOCTYPE html>
{% load static %}
{% load replace_url %}

<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<body>
    <div id="chat" class="container mt-5">
        <div id="chatbox"></div>
            <textarea id="chat-log" cols="13" rows="20" readonly="yes" style="border-radius: 10px; border: 2px solid rgba(255, 255, 255, 0.75); color: #ffffff; background-color: rgba(66, 66, 66, 0.5); resize:none;"></textarea><br>
            <input id="chat-message-input" type="text" size="35">
            <button id="chat-message-submit" type="button" class="btn btn-primary">Send</button>
            <button id="back" class="btn btn-danger">Exit</button>
        </div><br>
    </div>
</body>
<script src="{% static 'Chat.js' %}" type="module"></script>
