<!DOCTYPE html>
<html lang="en">
<head>
    <title>Enter Room</title>
</head>
<body>
    <div class="parent">
        <div class="child">
            <h1>Enter Room</h1>
			<strong>{{ username }}</strong><br>
            <form action="/transchat/signup/{{username}}/" method="POST">
                {% csrf_token %}
                <label for="">Room name</label><br>
                <input type="text" placeholder="room name" name="room" required><br>
                <center><button type="Enter">Submit</button></center><br>
            </form>
        </div>
		<div class="child-1">
			<h1>Available chatrooms:</h1>
			<div class="rooms">
				{% for i in all_rooms %}
					<h1>{{i}}</h1><br>
				{% endfor %}
			</div>
		</div>
    </div>
</body>
</html>