<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
    <title>Enter Room</title>
</head>
<body>
    <div class="parent">
        <div class="child">
            <h1>Enter Room</h1>
			<strong>{{ username }}</strong><br>
            {% csrf_token %}
            <label for="">Room name</label><br>
            <input type="text" id="room" placeholder="room name" name="room" required><br>
            <center><button type="Enter" id="enter">Submit</button></center><br>        </div>
		<div class="child-1">
			<h1>Available chatrooms:</h1>
			<div class="rooms">
				{% for i in all_rooms %}
					<h1>{{i}}</h1><br>
				{% endfor %}
			</div>
		</div>
    </div>
</body>
<script src="{% static 'Chat_signup.js' %}"></script>
</html>