
  p, h1, h2, h3, h4, h5, h6, span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
      color: white;
      
    }




  label {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
      color: white;
  }


  #dynamic-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, #a6c0fe, #f68084);
    filter: blur(8px);
    z-index: -1;
    transition: background 2s;
  }
  
  .btn {
    opacity: 90%;
  }
  