*.swp
.vscode
__pycache__
package-lock.json
.env
frontend/media/*
backend/db.sqlite3
backend/game/migrations/*.py
backend/accounts/migrations/*.py
backend/transchat/migrations/*.py
backend/CLI/minh-ngu.crt
backend/CLI/minh-ngu.key
backend/transchat/migrations/*.py
backend/venv
backend/db.sqlite3
to_do.txt
blockchain/build/contracts/TournamentRegistry.json
